# Server
APP_PORT=3000

# Database
DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=8004
DB_USERNAME='sa'
DB_PASSWORD='Passw0rdSALT'
DB_NAME='bsi'
DB_SYNCHRONIZE=true
DB_AUTOLOAD_ENTITIES=true
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

DB_LOGGING=false

# Storage
MAIN_STORAGE_PATH="./storage"
FILE_UPLOAD_RENAME=true

ENV_API_PATH="./env"

# Server URL
BASE_URL="https://api.pro-erms-staging.salt.id/oprisk"
KRI_URL="https://api.pro-erms-staging.salt.id/kri"

USER_MGMT_URL="https://api.pro-erms-staging.salt.id/mrms/user-management"